/* Modal backdrop */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.8); /* Slight transparency */
}

/* Stretched modal with scrollable content */
.modal {
  width: 40rem;
  max-height: 85vh; /* Limit height to 85% of the viewport */
  overflow-y: auto; /* Enable vertical scroll */
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem 8rem 0.2rem hsla(0, 0%, 22%, 0.3);
  background-color: white;
  position: relative;
}

/* Scrollbar styling */
.modal::-webkit-scrollbar {
  width: 4px;
}
.modal::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

/* Title adjustment */
.modal__title {
  font-size: 1.8rem; /* Slightly bigger than normal */
  text-align: center;
  color: white; /* Title color set to white */
  margin-bottom: 1.5rem;
}

/* Modal content images */
.modal img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

h3, h4 {
  font-size: 1.6rem; /* Normal heading size */
  margin-top: 1.5rem;
  color: black;
}

ul {
  padding-left: 1.5rem;
}

/* Recipe actions */
.recipe-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.action-circle {
  display: flex;
}

.circle-button {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  margin-right: 0.8rem;
  cursor: pointer;
}

.share-button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.share-button.facebook {
  color: #3b5998;
}

.share-button.twitter {
  color: #1da1f2;
}

.share-button.pinterest {
  color: #e60023;
}

/* Close button */
.link-2 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  color: inherit;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.link-2::before {
  content: '×';
}

.link-2:hover {
  background: hsl(210, 90%, 50%);
  border-color: hsl(210, 90%, 50%);
  transform: translateY(-0.2rem);
}
